/*{
	border: 1px solid #000;
}*/
body{
	background: #922;
}
h1{
	font-family: arial;
	font-size: 250%;
	text-shadow: 0px 1px 7px #fff;
	-webkit-transition: all 0.3s linear;
	text-align: center;
}
h1:hover{
	-webkit-transition: all 0.1s linear;
	-webkit-transform: scale3d(1.5, 1.5, 1.5);
}
#game{
	width: 400px;
	height: 400px;
	margin: 0px auto 0px auto;
}
h1+p{
	font-family: monospace;
	font-size: 20px;
}
p{
	font-family: times;
	font-size: 20px;
	text-align: center;
}
#canvas{
	width: 400px;
	height: 400px;
	border: 1px solid #000;
	background: #fff;
}